name: Tree-sitter CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tree-sitter-test:
    name: Run tree-sitter tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run tree-sitter tests
        run: npx tree-sitter-cli test
